* {
    margin: 0;
    padding: 0;
}

/* Header */

body {
    font-family: 'Comic Neue', cursive;
}


header {
    background-color: teal;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between; 
    min-width: 1000px;
}

.navContainer{
    display: flex;
    align-items: center;
}
.nav-title{
    color: white;
}

.nav-links {
    min-width: 400px;
    display: flex;
}

li {
    list-style-type: none;
    margin-left: 15px;
}

.nav a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: bold;
}

.btn {
    background-color: lightseagreen;
    color: white;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    align-self: center;
}

.btn:active {
    box-shadow: 0px 0px black;
    position: relative;
    top: 2px;
    left: 2px;
}

.active {
    font-weight: bold;
}

/* Content */

.main {
    position: relative;
    margin: 0 auto;
    top: 75px;
    display: flex;
    justify-content: center;
    gap: 25px; 
}

/* Left Column */

.leftColumn {
    min-width: 600px;
    display: flex;
    flex-direction: column;
}

/* ID Card */


.idCard{
    min-height: 300px;
    border: 3px solid gray;
    display: flex;
    margin-bottom: 25px;
}

.idCard .topBar {
    background: teal;
    width: 100%;
    height: 33.33%;
}

.idCard .content {
    position: absolute;
    margin: 50px 0 0 25px;
}

#userPic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#mapPin{
    height: 20px;
    width: auto;
}
.location {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.location h4 {
    margin-left: 15px;
}

#gear {
    height: 15px;
    width: 15px;
    position: relative;
}

#gear:hover {
    height: 16px;
    width: 16px;
}

#gear:active {
    top: 1px;
    left: 1px;
}

.editProfile {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.editProfile a {
    margin-right: 5px;
}



/* Education Card */

.educationCard {
    min-height: 200px;
    border: 3px solid gray;
    display: flex;
}

.educationCard .topBar {
    background: black;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

.educationCard .topBar h4 {
    color: white;
    margin-left: 25px;
}

.educationCard .content {
    position: absolute;
    margin: 50px 0 0 25px;
}

.educationCard .content h2, h4 {
    margin-top: 5px;
}

.dates {
    opacity: 70%;
}

/* Right Column */

.rightColumn {
    min-width: 375px;
}

/* Connection Requests */
.connectionRequests {
    min-height: 125px;
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.connectionRequests .topBar {
    background: black;
    width: 100%;
    height: 41.6625px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.connectionRequests .topBar h4 {
    margin-left: 10px;
}

.roundNumber {
    padding: 3px;
    background-color: lightgray;
    color: gray;
    border: 2px solid gray;
    border-radius: 100%;
}

.connectionSection {
    display: flex;
    flex-direction: column;
}

.connection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px 10px 25px;
}

.profilePic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.choice {
    width: 20px;
    height: 20px;
}

.choice:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.contact {
    display: flex;
    align-items: center;
}

.contact h4 {
    margin-left: 5px;
}

.acceptDeny button {
    border-radius: 100%;
}

/* Current Connections */

.currentConnections {
    min-height: 125px;
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.currentConnections .topBar {
    background: black;
    width: 100%;
    height: 41.6625px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.currentConnections .topBar h4 {
    margin-left: 10px;
}

.viewMore {
    min-height: 40px;
    border-top: 3px solid gray;
    display: flex;
    align-items: center;
}

.viewMore a{
    margin-left: 20px;
}